

body .banner {
    display: flex;
    background-size: cover;
    height: 90vh;
    flex-direction: column;
    
    
}

.banner .container #frase_maior {
    font-family: fantasy;
    color: rgb(17, 65, 153);
    font-size: 50px;
    margin: 0;
    
}

.banner .container #frase_menor {
    font-family: fantasy;
    color: rgb(17, 65, 153);
    
}

.banner .container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    margin: 100px 0px 0px 200px;
}
.banner #peca_ja{
    height: 50px;
    width: 150px;
    background-color: transparent;
    border-radius: 7px;
    margin: 50px 0px 0px 300px;
    font-family: fantasy;
    font-size: large;
    border: 3px solid white
    
}

.banner button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: rgb(17, 65, 153);
    color: black;
  } 
