
body {
    margin: 0;
    padding: 0;
    
}

#header{
    display: flex;
    height: 70px;
    background-image: linear-gradient(90deg, white,rgb(0, 183, 255) );
    border-bottom: 3px solid rgb(17, 65, 153);
    justify-content: space-between;
    font-family: fantasy;
    color: rgb(17, 65, 153);
}
#icones_header {
    width: 25px;
    height: 25px;
    
}
#header div{
    display: flex;
    width: 30%;
    list-style:none;
   
}

#header .icones img{
    padding: 0px 0px 0px 20px;
    
}

#header .icones{
    margin-top: 25px;
    justify-content: right;
    width: 33%;
    padding-right: 40px;
}
 
#header .logo {
    margin-left: 50px;
}

#header #logo_netuno{
    width: 65px;
    height: 65px;

}

#header .paginas {
    margin-top: 25px;
    display: flex;
    list-style:none;
    width: 33%;
    justify-content: space-between;
    margin-right: 50px;
}