.banner {
    display: flex;
    background-size: cover;
    height: 90vh;
    flex-direction: column;
    background-image: url(../assets/imgs/jong-marshes-79mNMAvSORg-unsplash.jpg);
    
}

.conjunto_container{
    display: flex;
    flex-direction: column;
    height: 100%;
}



.container_dois{
   float: none;
    background-image: url(../assets/imgs/wave\ \(13\).png);
    height: 100%;
    
}

.conjunto_container .produtos {
    display: flex;
    flex-direction: row;
    margin: 90px 0px 0px 300px;
    position: absolute;
    width: 750px;
    height: 380px;
   
}

span h1 {
    font-family: fantasy;
    text-decoration: underline;
    font-size: 40px;
    margin-left: 44%;
    margin-top: 50px;
}



.produto_agua{
    display: flex;
    width: 50%;
    height: 100%;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.produtos a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.produto_carvao{
    display: flex;
    width: 50%;
    height: 100%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto_agua img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.produto_carvao img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.produto_agua li {
   list-style: none;
   font-family: fantasy;
    padding-top: 20px;
}

.produto_carvao li {
    list-style: none;
    font-family: fantasy;
     padding-top: 20px;
 }

